
/* Body */

.container
{
    max-width: 1400px;
    margin:auto;
}



/*____________ Navbar________*/


    


nav ul 
{
list-style-type: none;
display: flex;
padding-right: 77px;
text-align: center;

}
nav li{

margin-right: 15px;
width: auto;
font-family: 'Raleway', sans-serif;


}

nav a
{
font-size: 16px;
color: #181818;
padding-bottom: 3px;
text-decoration: none;


}

nav a:hover
{
color: #0065FC;
border-top: 3px solid #0065FC;
padding-top: 15px;
}

a
{
text-decoration: none;
color: black;
}
/*--------*/


/* __________Header_____________ */




.header
{
display: flex;
align-items:baseline;
justify-content: space-between;
}
.logo 
{

height: 19px;

}

h1
{

font-size: 22px;
}


.text-header
{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
}
    .paragraph
    {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 54px;
        margin-bottom: 39px;
        font-family: 'Raleway', sans-serif;
    
    }


/*_____Searchbar_____ */
.searchSubmitinput
{
background-color: #0065FC;
width: 132px;
height: 49px;
border-radius: 0px 15px 15px 0px;
border: none;
color: white;
margin-left: -52px;
font-weight: bold;
}
.searchSubmitinput:hover
{
background-color: #DEEBFF;
color: black;
font-weight: bold;
}
.searchFormSearchinput
{

width: 332px;
height: 49px;
border: 1px #d9D9D9 solid;

}
input::placeholder {
    color: black;
    font-size: 18px;
    padding-left: 15px;
}

    .searchFormIcon
    {
        background-color: #d9D9D9;
        height: 49px;
        width: 50px;
        border-radius: 15px 0px 0px 15px;
        align-items: center;
        display: flex;
    
    }
        .searchForm
        {
            display: flex;
            flex-direction: row;
        }
/*__________________________*/


/* ____ Filter ___ */

.filter
{
display: flex;
flex-direction: row;
width: 100%;

align-content: baseline;

}  
.filterSubtile
{
font-size: 18px;
width: 54px;
margin-right: 52px;
margin-top: 46px;
}


.button-filter
{
border: solid #d9D9D9 2px;
border-radius: 25PX;
display: flex;
height: 26px;
font-family: "raleway";
padding-top: 10px;
padding-right: 10px;
vertical-align: middle;
margin-top: 36px;
margin-right: 20px;


}
.button-filter:hover 
{
    background-color: #DEEBFF;
}
    


/*___Icônes____ */
i
{
color: #0065FC;


}

.fa-info:before
{
padding-left: 1px;
}
.logo-i
{
border: solid 2px grey;
border-radius: 50%;
width: 18px;
margin-right: 11px;
}

.fa-location-dot:before,.fa-map-marker-alt:before
{
padding-left: 20px;
color: black;
}

.fa-money-bill-wave:before 
{
    padding-left: 10px;
    padding-right: 10px;
}

    .fa-male:before, .fa-person:before 
    {
    padding-left: 10px;
    padding-right: 10px;
    }
    .fa-heart:before
    {
    padding-left: 10px;
    padding-right: 10px; 
    }
    .fa-dog:before 
    {
        padding-left: 10px;
        padding-right: 10px;   

    }
    .gris-stars
    {
        color: #d9D9D9;
        
     }

    .fa-magnifying-glass
    {
        display: none;
    }         
/*---------------*/

/* Hosting */

.hosting
{
display: flex;
flex-direction: row;
gap: 3%;
justify-content: space-between;
}
.hostingmain
{
background-color: #F2F2F2;
width: 70%;
border-radius: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;


}
h2
{
padding-left: 42px;
width: 100%;
font-family: 'Raleway', sans-serif;
font-size: 22px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 199px;
    padding: 5px;
}


    .img-card {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 124px;
        object-fit: cover;
    }

        .paragraphEnd
        {
            width: 100%;
            font-family: 'Raleway', sans-serif;
            padding-left: 44px;
            font-weight: bold;
        }
.hostingSubtile
{
    font-weight: bold;
    padding-left: 16px;
}
.hostingSubtile , .hostingParagraph
{
    margin: 0%;
    padding-left: 16px;
    width: auto;
    font-family: 'Raleway', sans-serif;
}
.rating
{
    padding-left: 16px;
    padding-top: 9px;
}

/*_________________________________*/ 



/*___________Popular hosting*____________*/     

.popularHosting
{
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: #F2F2F2;
width: auto;

border-radius: 20px;
padding-left: 30px;
padding-right: 30px;
}
.titlePopular
{
font-family: 'Raleway', sans-serif;
padding-left: 0%;
display: flex;
    flex-direction: row;
    gap: 48%;

}

.hostingSubtilep
{
font-weight: bold;
padding-left: 16px;
padding-top: 16px;
}

.hostingSubtilep , .hostingParagraphp
{
margin: 0%;
padding-left: 16px;
padding-bottom: 7px;
width: auto;
font-family: 'Raleway', sans-serif;
}

.cardPopular {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 20px;
background-color: white;
width: 97%; 
height: 144px;
flex-direction: row;
display: flex;
justify-content: space-between ;
padding:5px;
margin-bottom: 10%;

}
.rating-popular
{
    padding-left: 16px;
    padding-top: 53px;
}
.rating-popular-2
{
    padding-left: 16px;
    padding-top: 31px;
}


.img-cardPopular {
    border-radius: 15px 0px 0px 15px;
        height: 144px;
    }
.containerPopular
{
    width: 60%;
}
.blockimg
{
    width: 40%;
}   
/*_________________________________*/ 

/*  Activity    */
.activityTitle
{

font-family:'Raleway', sans-serif;
width: 100%;
font-size: 22px;
font-weight: bold;
margin-top: 60px;
margin-bottom: 18.47px;
padding-left: 0%;

}

.activitySubtile
{
font-family:'Raleway', sans-serif;;
width: 100%;
margin:2% 2% 2%;
text-align: center;
font-size: 16px;
font-weight: bold;

}

.activity
{
display: flex;
flex-wrap: wrap;

}
.activity-groups
{
display: flex;
justify-content: space-between;
gap: 3%;
}
.blockActivity
{
box-shadow: 0 0 20px #0000002e;
border-radius: 1rem;
width: 25%;
margin-bottom: 61px;
}
.imgActivity
{
    
    width: 100%;
    height: 444.51px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
        


/*_____Footer___*/
footer
{
background-color: #F2F2F2;
width: 100%;



}
.footerColumnwrapper
{
display: flex;
width: 100%;
justify-content: space-around;
}
.columnLeft
{
width: 23%;

}
.columnCenter
{
width: 23%;

}
.columnRight
{
width: 23%;

}
h4 
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    color: black;
}

h3
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    color: black;
}
.footerTitle
{
    font-size: 18px;
}
.footerSubtile
{
    font-size: 16px;
    font-weight: normal;
}
/* For tablette */
@media only screen and (max-width: 992px)  {

    /* hosting popular */

    .titlePopular 
    {
       width: 100%;
       padding-left: 1%;
       padding-bottom: 3%;
       
    }

 .rating-popular
 {
    padding-top: 23PX;
 }
 .rating-popular-2
 {
    padding-top: 3PX;
 }

 .popular 
 {
    display: flex;
    flex-direction: ROW;
    gap: 3%;
 }
 .cardPopular
 {
    width: 100%;
   
    margin-bottom: 5%;
 }

 .popularHosting
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

/* hosting */

.hostingmain
{
    width: 100%;
    height: 30%;
    margin-bottom: 3%;
} 

.hosting
{
    display: initial;

}

.container
{
        max-width: 992px;
        margin: 2%;
}

.card
 {
    margin-bottom: 3%;
    justify-content: space-around;
    flex-wrap: wrap;
 }   

 /* Activity */

 .imgActivity{
    height: 187.51px;
 }


    }

 /* For mobile phones: */
@media only screen and (max-width: 768px) {

    /* Navigation*/
nav a:hover
{
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 15px;
    border-top: none;
}
nav{
    width: 100%;
}
nav ul
{
   
    justify-content: center;
    padding-right: 0px;   
}

nav a {
    width: 100%;
}
.logo
{
    padding: 0px 39% 0 45%;
}
/*----------------------------*/
.container 
{
    max-width: 768px;
        margin: 1%;
}
.filter
{
    flex-wrap: wrap;
}

a
{
    width: 50%;
}
.button-filter
{
    justify-content: CENTER;
}

.filterSubtile
{
    width: 100%;
}
.header
{
    flex-direction: column;
}
.text-header{
    padding-left: 5%;
}
 .title-header{
    font-size: 14px;
    text-align:left
 }
 .subtitle-header{
    font-size: 13px;
 }

.searchForm
{
    padding-left: 8%;
}
.searchSubmitinputText
{
    display: none;
}

.searchSubmitinput
{
    width : 63px;
    
}

/*icone*/
.fa-magnifying-glass
{
    display: initial;
    color: white;
}

.logo-i
{
    width: 10%;
    padding-top :2%;
}
/* hosting */
.hosting
{
    width: 100%;
    flex-direction: column;
}

.hostingmain
{
    width: 100%;
    background-color: white;
}
.card
{
    width: 100%;
    MARGIN-bottom: 3%;
}
/* Popular*/
.popularHosting
{
    width: 100%; 
    order: -2;
    flex-direction: column;
    padding: 0%;
  
}
.popular 
{
   display: flex;
   flex-direction: column;
   gap: 3%;
}

.cardPopular
{
width: 96%;
display: flex;
justify-content:center;

}
.titlePopular
{
    
    margin-left: 5%;
    width: 60%;
}

/*  Activity */
.activity-groups{
    flex-direction: column;
    width: 100%;
}
.blockActivity
{
    width: 100%;
}

.imgActivity
{
    height: 212px;
}
/*  footer */
.footerColumnwrapper
{
    flex-direction: column;
    width: 100%;
}
.columnCenter
{
    width: 90%;
    padding-left: 10%;
}
.columnLeft
{
    width: 90%;
    padding-left: 10%;
    
}
.columnRight
{
    width: 90%;
    padding-left: 10%;
  
}
} 