

 /*    Police     */
    @font-face {
        font-family: "italianno";
        src: url(/Police/Italianno-Regular.ttf);
    }

    @font-face {
        font-family: "caviar";
        src: url(/Police/CaviarDreams.ttf);
    }

    @font-face {
        font-family: "caviar-b";
        src: url(/Police/Caviar_Dreams_Bold.ttf);
    }

    @font-face {
        font-family: "caviar-i";
        src: url(/Police/CaviarDreams_Italic.ttf);
    }

 /*--------------------*/

 *{
    height: auto;
    width: 100%;
 }
    body{
        padding-left: 32px;
        padding-right: 32px;
        width: auto;
        }
        /* HEADER */
    
    .Header
    {
        display: flex;
        position: relative;
        flex-direction: row;
       align-items: flex-start;
       justify-content: space-between;
  
    }
    .imgHeader
    {
       width: 5%;
       height: 5%;
    }
    
        /* NavBar */
       
    
    nav ul 
    {
        list-style-type: none;
        display: flex;
        width: 100%;
        
    }
    nav li{
       
        margin-right: 15px;
        width: auto;
        font-family: "caviar-i";
        
    }
      
    nav a
    {
        font-size: 1.3em;
        color: #181818;
        padding-bottom: 3px;
        text-decoration: none;
 
    }
    
        nav a:hover
        {
            color: #3D86C9;
            border-bottom: 3px solid #2879c5;
        }
    
    /*--------*/
    
    /* SearchBar text*/
    
    .titleSearch
    {
        color: #3D86C9;
        margin-top: 2%;
        margin-bottom: 0%;
        font-family: 'italianno';
        font-size: 2.5rem;
    }
    
    .subtileSearch
    {
    margin-top: 0%;
    font-size: 1em;
    font-family:"caviar-i";
    }
    
    /*Searchbar */
    .searchSubmitinput
    {
        background-color: #3D86C9;
        width: 5%;
        height: 10%;
        border-radius:30px;
        border: none;
        color: white;
    }
    .searchFormSearchinput
    {
    
        width: 7%;
        height: 10%;
        
        border: none;
        color: black;
        border: 1px gray solid;
    }
    
    /* Hosting*/
    .hosting
    {
        display: flex;
        
    }
        .hostingTitle
        {
            color: #3D86C9;
            margin: 2%;
            display: flex;
            justify-content: space-between;
            
            
            
        }
            .hostingSubtile, .hostingParagraph
            {
                margin: 0%;
                text-align: center;
                padding: 2% 5% 2%;
                width: auto;
            }
                .hostingSubtile
                {
                    color: #3D86C9;
                    text-align: center;
                }
            .hostingImg
            {
                border-radius: 10% 10% 0% 0%;
                height: 15rem;
            }    
        .hostingPrefer
        {
            background : #2879c586;
            margin: 4% 10% 2%;
            padding: 2rem;
            flex-direction: row;
            justify-content: center;
            display: grid;
            column-gap: 2rem;
            row-gap: 2rem;
            width: auto;
            
            
            
        }
            .hostingBlock
            {
                background-color: white;
                grid-row-start: 2;
                margin: 1rem;
                width: 85%;
                border-radius: 10% 10% 0% 0%;
                
            }
    
    /*  Main Hosting    */
    .mainHosting
    {
        display: flex;
        
        
    }
        .hostingTitle
        {
            color: #faf7f7;
            padding-top: 1%;
            padding-bottom: 1%;
            
            
        }
            .mainhostingSubtile, .mainhostingParagraph
            {
                margin: 0%;
                text-align: center;
            }
                .mainhostingSubtile
                {
                    color: #3D86C9;
                    text-align: center;
                }
            .mainhostingImg
            {
                border-radius: 1.5rem;
                height: 15rem;
            }    
    
        .mainHostingBackground
        {
            
            background : #2879c586;
            margin: 4% 10% 2%;
            padding: 2rem;
            flex-direction: row;
            justify-content: center;
            display: grid;
            width: auto;
            grid-template-columns: 25%, 25%, 25%;
            
             
                
        }    
            .mainhostingBlock
            {
                background-color: white;
                grid-row-start: 2;
                margin: 1rem;
                width: 85%;
                border-radius: 10% 10% 0% 0%;
                
                
                
            }
    
    